@model UIA_Flight_Booking_System.Models.User

@{
    ViewBag.Title = "Login";
}
<link rel="stylesheet" type="text/css" href="~/Content/Login.css">

@using (Html.BeginForm())
{
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                @Html.TextBoxFor(model => model.Username, null, new { @class = "form-control", placeholder = "Username", autofocus = "" })
                @Html.TextBoxFor(model => model.Password, null, new { @class = "form-control", placeholder = "Password", type = "password" })

                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->

    if (TempData["LoginFail"] != null)
    {
        <script>
            alert("Wrong username or password");
        </script>
    }
}


